@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Orbitron);

body {
	background-color: black;
}

	.hello_sticker{
		font-family: consolas;
		text-align: center;
		padding: 2px;
		height: 260px;
		
		border: 10px solid #e8ffd9;
		border-left: 12px solid lighten(#e8ffd9, 7%);
		border-bottom: 12px solid lighten(#e8ffd9, 7%);
		margin: 10px auto;
	}
	.paper {
		
		border-radius: 20px;
	}
	.hellosticker_body {
		margin-top: 0%;
		height: 55%;
		border-radius: 0 0 10px 10px;
		
	}
	.handwritten {
		font-family: 'Shadows Into Light', cursive;
		font-size: 4.4em; 
		padding-top: 20px;	
		margin: 0 auto;
		
	}
	.handwritten_after {
		font-family: 'Orbitron', sans-serif;
		font-size: 5.3em; 
		margin: 0 auto;
		padding-top: 20px;
		
	}

	.sticker_head {
		color: white;
		font-size: 90px;
		margin-bottom: 0px;
		line-height: 70px;
		
	}
.sticker_subhead {
		margin-top: 0px;
		font-size: 40px;
		line-height: 30px;
		color: white;
		}