<!DOCTYPE html>
<html ng-app="TicTacToeApp">
<head>
	<title>Tic Tac Toe</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
	<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-controller="gameCtrl">


<div class="titlebox"> <h1> TIC TAC TOE!!</h1>
	<p ng-hide="gameEnd"><span ng-hide="oTurn">{{playerXName}}</span><span ng-show="oTurn">{{playerOName}}</span><span ng-show="xyName">'s turn</span></p>
	<p ng-show="gameEnd"><span ng-model="outcome">{{outcome}}</span></p>
</div>
<div class="outerContainer">
		
		<div class="coverAll" ng-hide="xyName">
			<h2>Please Enter Your Names</h2>
			<form ng-submit="addNames(xName, yName)">
				<input type="text" placeholder="Player X" ng-model="xName">
				<input type="text" placeholder="Player O" ng-model="yName">
				<input class="btn-primary" type="submit" placeholder="Go!" value="add">
			</form>
		</div>

		<div class="boardContainer">
			<div class="row" ng-repeat="cell in boardArray">
				<div class="gameBox"
					 ng-click="playerPicks(cell)"
					 ng-class="{playerX: cell.status=='X', playerY: cell.status =='O'}">
				</div> 
			</div>
		</div>
		<div class="lowerbox" ng-show="gameEnd"> <a ng-click="boardReset()" href="#"> Play Again?</a>

	</div> 
</div>

</body>

</html>
	